<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>ZEE Digital</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ZEE Digital">
    <meta name="author" content="Codex Remote">
    <meta name="theme-color" content="#EAEAEA">
    <link rel="icon" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="assets/css/src/style.css">
    <link rel="stylesheet" href="assets/css/src/carousel.css">
</head>

<body>

    <div id="background"></div>

    <h1 class="sr-only">ZEE Digital</h1>

    <!-- NAVBAR -->
    <nav id="navbar" class="navbar main-nav">
        <div class="col-12 pull-right text-right">
            <img id="logo" src="assets/img/zee-digital.png" alt="ZEE Digital" />
        </div>
    </nav>

    <!-- HEADER -->
   <section class="carrossel">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-texts">
                    <div class="item1">
                        <h1><strong>APLICATIVOS</strong></h1>
                        <div class="carousel-lh">
                            <p><strong>Acesse, consulte, analise e crie mapas</strong> com</p>
                            <p>os aplicativos do ZEE Digital</p>
                        </div>
                        <hr class="wline align-left">
                        <button type="button" class="btns btn-light">SAIBA MAIS</button>
                    </div>
                </div>
                <img src="assets/img/backgrounds/31.jpg"
                    alt="Los Angeles" width="1100" height="600" style="min-height: 300px; max-height:700px;" class="img-fluid">



            </div>
            <div class="carousel-item">
                <div class="carousel-texts">
                    <div class="item2">
                        <h1><strong>EXPLORE</strong></h1>
                        <hr class="wline align-right">
                        <div class="carousel-lh">
                            <p>Explore os dados do ZEE-RS</p>
                            <p>através do <strong>painel de visualização temática</strong></p>
                        </div>
                        <div class="figures-container">
                            <img src="assets/img/bases_cartográficas_branco.png" style="height:35px;width:35px;"
                                class="figure-class img-fluid" >
                            <img src="assets/img/ambiente_natural_branco.png" style="height:35px;width:35px;"
                                class="figure-class img-fluid">
                            <img src="assets/img/uso_do_solo_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/demografia_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/comunidades_tradicionais_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/condicoes_de_vida_branco.png" style="height:35px;width:35px;"
                                class="figure-class">

                        </div>
                        <div class="figures-container">
                            <img src="assets/img/dinamica_economica_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/infraestrutura_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/estrutura_institucional_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/patrimonio_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/indicadores_de_prognostico_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                            <img src="assets/img/zoneamento_branco.png" style="height:35px;width:35px;"
                                class="figure-class">
                        </div>
                    </div>
                </div>
                <img src="assets/img/backgrounds/33.jpg"
                    alt="Explore" width="1100" height="600" style="min-height: 300px; max-height:700px;" class="img-fluid">
            </div>
            <div class="carousel-item">
                    <div class="carousel-texts">
                            <div class="item3">
                                <h1><strong>STORY MAP</strong></h1>
                                <div class="carousel-lh">
                                    <p>Conheça o <strong>Zoneamento Ecológico-Econômico</strong></p>
                                    <p>do <strong>Rio Grande do Sul</strong></p>
                                </div>
                                <hr class="wline align-center">
                                <button type="button" class="btns btn-light">ACESSE</button>
                            </div>
                        </div>
                <img src="assets/img/backgrounds/35.jpg"
                    alt="Story Map" width="1100" height="600"style="min-height: 300px; max-height:700px;" class="img-fluid">
            </div>
        </div>
        <div class="esri-footer-barrier"></div>
        <!-- Left and right controls -->
        <div class="prev-next">
            <a class="anterior" href="#demo" data-slide="prev">
                <button class="err"><strong>
                        < </strong> </button> </a> <span id="qnt"></span>
                            <a class="proximo" href="#demo" data-slide="next">
                                <button class="err"><strong> > </strong> </button>
                            </a>
        </div>
        <!-- Indicators -->

        <ul class="carousel-indicators">
            
            <li  data-target="#demo" data-slide-to="0" class="active"><img
                    src="assets/img/backgrounds/31.jpg"
                    height="100" alt='' class="short-images" /></li>
            <li  data-target="#demo" data-slide-to="1"><img
                    src="assets/img/backgrounds/33.jpg"
                    height="100" alt='' class="short-images"/></li>
            <li  data-target="#demo" data-slide-to="2"><img
                    src="assets/img/backgrounds/35.jpg"
                    height="100" alt='' class="short-images" /></li>
            
        </ul>
    </div>
</section>
    <!-- SECTION => CATEGORIES -->
    <div class="esri-footer-barrier"></div>
    <section class="section-grey">
        <div class="txt-container rows">

            <div class="flex-itens margin-categories">
                <img src="assets/img/icon1.png" class="icons">
                <p class="size"><strong>BANCO DE DADOS ESPACIAIS</strong></p>
                <div class="lh">
                    <p>O mais completo banco de </p>
                    <p>dados espaciais do RS</p>
                </div>
            </div>
            <div class="flex-itens">
                <img src="assets/img/icon1.png" class="icons">
                <p class="size"><strong>ANÁLISE DE DADOS</strong></p>
                <div class="lh">
                    <p>Ferramentas para análise de dados de forma</p>
                    <p>integrada, disponiveis para toda a sociedade</p>
                </div>
            </div>
            <div class="flex-itens">
                <img src="assets/img/icon1.png" class="icons">
                <p class="size"><strong>ZONAS E DIRETRIZES</strong></p>
                <div class="lh">
                    <p>Visão integrada dos usos do território</p>
                    <p>para o desenvolvimento sustentável</p>
                </div>
            </div>

        </div>
    </section>
    <section id="categories">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2>Explore o ZEE-RS</h2>
                    <hr class="icons-separator">
                </div>
            </div>
            <div class="categories-icons text-center">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=3d49f52c34b949a98a5b3df93cbd9696"
                                target="_blank" rel="noopener">
                                <img src="assets/img/bases_cartográficas_branco.png" alt="Bases Cartográficas">
                            </a>
                            <figcaption>BASES CARTOGRÁFICAS</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=ee5e43a0c07b465c8551009009ed1827"
                                target="_blank" rel="noopener">
                                <img src="assets/img/ambiente_natural_branco.png" alt="Ambiente Natural">
                            </a>
                            <figcaption>AMBIENTE NATURAL</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=d2d386bff42940d7abf304600ed8312c"
                                target="_blank" rel="noopener">
                                <img src="assets/img/uso_do_solo_branco.png" alt="Uso do Solo">
                            </a>
                            <figcaption>USO DO SOLO</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=911155d4ab234f46ababfa716a989c24"
                                target="_blank" rel="noopener">
                                <img src="assets/img/demografia_branco.png" alt="Demográfico">
                            </a>
                            <figcaption>DEMOGRAFIA</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=7f23cb983dff40c3a94917251dfa586f"
                                target="_blank" rel="noopener">
                                <img src="assets/img/comunidades_tradicionais_branco.png"
                                    alt="Comunidades Tradicionais">
                            </a>
                            <figcaption>COMUNIDADES TRADICIONAIS</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=f51150e2b1c343bfb364fcf136dc8898"
                                target="_blank" rel="noopener">
                                <img src="assets/img/condicoes_de_vida_branco.png" alt="Condições de Vida">
                            </a>
                            <figcaption>CONDIÇÕES DE VIDA</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=8c2610328c354588aa1061bcfb3f4d9c"
                                target="_blank" rel="noopener">
                                <img src="assets/img/dinamica_economica_branco.png" alt="Dinâmica Econômica">
                            </a>
                            <figcaption>DINÂMICA ECONÔMICA</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=1641f7fe5dfd43f7bb354b50cd455cb8"
                                target="_blank" rel="noopener">
                                <img src="assets/img/infraestrutura_branco.png" alt="Infraestrutura">
                            </a>
                            <figcaption>INFRAESTRUTURA</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=e1d97c2f0ffe4016b4ae3bb66038b5e7"
                                target="_blank" rel="noopener">
                                <img src="assets/img/estrutura_institucional_branco.png" alt="Estrutura Institucional">
                            </a>
                            <figcaption>ESTRUTURA INSTITUCIONAL</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=3c3a68d2b2ec43b6b1d89c922ca66b45"
                                target="_blank" rel="noopener">
                                <img src="assets/img/patrimonio_branco.png" alt="Patrimônio">
                            </a>
                            <figcaption>PATRIMÔNIO</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=da093561f76a46e98146db345cdedcc8"
                                target="_blank" rel="noopener">
                                <img src="assets/img/indicadores_de_prognostico_branco.png"
                                    alt="Indicadores de Prognostico">
                            </a>
                            <figcaption>INDICADORES DE PROGNÓSTICO</figcaption>
                        </figure>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <figure>
                            <a href="https://zee.rs.gov.br/portal/apps/webappviewer/index.html?id=62201ae6a1e14c8c86a1c19f389f477e"
                                target="_blank" rel="noopener">
                                <img src="assets/img/zoneamento_branco.png" alt="Zoneamento">
                            </a>
                            <figcaption>ZONEAMENTO</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
    </section>

    <!-- SECTION => APPS -->
    <div class="esri-footer-barrier"></div>
    <section id="apps" class="section-grey">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h2>Aplicativos</h2>
                    <hr class="apps-separator align-left">
                    <div class="row">
                        <div class="col-xl-6 col-12">
                            <p>Acesse, consulte, analize e crie mapas com os aplicativos do ZEE Digital.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cntnr">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="assets/img/it1.jpg" alt="Story Maps Cascade"
                        style="max-height:100px; width: 100%;">

                    <div class="card-body">
                        <div class="titulo">
                            <p> STORY MAP </p>
                            <p> ZEE-RS </p><br>
                        </div>
                        <div class="texto">
                            <br>
                            <p>Conheca o zoneamento</p>
                            <p>Ecológico-Econômico do</p>
                            <p>Rio Grande do Sul.</p>
                        </div>
                        <div class="botoes">
                            <button type="button" class="btn btn-outline-primary btn">ABRIR</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/it2.png" alt="Story Maps Cascade"
                        style="max-height:100px; width: 100%;">

                    <div class="card-body">
                        <div class="titulo">
                            <p>VISUALIZAÇÃO</p>
                            <p>TEMÁTICA</p><br>
                        </div>
                        <div class="texto">
                            <p>Acesse agora informações do</p>
                            <p>ZEE-RS e componha mapas</p>
                            <p>por categoria.</p>
                        </div>
                        <div class="botoes">
                            <button type="button" class="btn btn-outline-primary btn">ABRIR</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="assets/img/it3.png" class="card-img-top" alt="Survey123 Mobile View"
                        style="max-height:100px; width: 100%;">
                    <div class="card-body">
                        <div class="titulo">
                            <p>ENTENDENDO</p>
                            <p>O ZEE-RS</p><br>
                        </div>
                        <div class="texto">
                            <p>Explore e compreenda a </p>
                            <p>composição do Zoneamento </p>
                            <p>para todas as regiões do </p>
                            <p>Rio Grande do Sul.</p>
                        </div>
                        <div class="botoes">
                            <p style="color: rgb(43, 183, 226);font-size: 12px;"><strong>Potencial
                                    Ambiental</strong><button type="button"
                                    class="btn-outline-primary btn2">ABRIR</button></p>
                            <p style="color: rgb(43, 183, 226);font-size: 12px;"><strong>Potencial
                                    Integrado</strong><button type="button"
                                    class="btn-outline-primary btn2">ABRIR</button></p>
                            <p style="color: rgb(43, 183, 226);font-size: 12px;"><strong>Composição das
                                    Zonas</strong><button type="button" class="btn-outline-primary btn2">ABRIR</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/it4.png" alt="Story Maps Cascade"
                        style="max-height:100px; width: 100%;">

                    <div class="card-body">
                        <div class="titulo">
                            <p> ANÁLISE DE</p>
                            <p>DADOS</p><br>
                        </div>
                        <div class="texto">
                            <p>Realize análises espaciais a</p>
                            <p>partir dos dados do ZEE-RS</p>
                            <p>ou de suas informações para</p>
                            <p>criar novos mapas.</p>
                        </div>
                        <div class="botoes">
                            <button type="button" class="btn btn-outline-primary btn">ABRIR</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/it5.png" alt="Story Maps Cascade"
                        style="max-height:100px; width: 100%;">

                    <div class="card-body">
                        <div class="titulo">
                            <p>CONSULTA AO</p>
                            <p>ZEE-RS</p><br>
                        </div>
                        <div class="texto">
                            <p>Consulte toda a base do</p>
                            <p>projeto ZEE-RS e adicione</p>
                            <p>informações, realize analálises</p>
                            <p>e construa seus mapas.</p>
                        </div>
                        <div class="botoes">
                            <button type="button" class="btn btn-outline-primary btn">ABRIR</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/it6.png" alt="Story Maps Cascade"
                        style="max-height:100px; width: 100%;">

                    <div class="card-body">
                        <div class="titulo">
                            <p>USUÁRIO</p>
                            <p>ADMNISTRATIVO</p><br>
                        </div>
                        <div class="texto">
                            <p>Acesso destinado aos</p>
                            <p>Usuários admnistrativos</p>
                            <p>do ZEE-RS.</p>
                        </div>
                        <div class="botoes">
                            <button type="button" class="btn btn-outline-primary btn">ABRIR</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- SECTION => ABOUT ARCGIS -->
    
    <section id="arcInfo" class="section-white">
        <div class="container-fluid">
            <div class="row">
                <div id="arcgis" class="col-xl-6"></div>
                <div class="col-xl-6" style="padding: 50px;">
                    <h2 class="text-center">
                        Sobre o ZEE-RS
                    </h2>
                    <hr class="apps-separator">
                    <p class="text-justify">O Zoneamento Ecológico-Econômico do Rio Grande do Sul (ZEE-RS) é uma
                        ferramenta de planejamento espacial que visa orientar, de forma estratégica e participativa, o
                        processo de ordenamento e gestão territorial, necessário para a obtenção das condições de
                        sustentabilidade do desenvolvimento do Rio Grande do Sul.</p>
                    <br>
                    <a href="#" class="btn btn-dark btn-app" target="_blank" rel="noopener" style="width:140px;">Institucional →</a>
                </div>
            </div>
        </div>
    </section>
    <div class="esri-footer-barrier"></div>
    <!-- SECTION => MORE INFO -->
    <section id="more">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h2>Saiba Mais</h2>
                    <hr class="icons-separator align-left">
                    <div class="row" style="padding-bottom: 40px;">
                        <div class="col-xl-6 col-12">
                            <p>Um pouco da história do ZEE-RS</p>
                        </div>
                    </div>
                    <div id="news" class="row text-center">
                        <div v-for="post in posts" class="col-img col-xl-4 col-md-4" v-if="img(post)"
                            :title="description(post)">
                            <a :href="url(post)" target="_blank" rel="noopener">
                                <figure>
                                    <div class="col-12 img-cover">
                                        <img :src="img(post)" :alt="title(post)">
                                    </div>
                                    <figcaption>{{ title(post) }}</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="alert alert-danger text-left" role="alert" v-if="posts.length === 0"
                            style="margin: 15px;">
                            Não foi possível carregar o histórico.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="logos" class="section-white">
        <div class="row text-center algn">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6 my-auto">
                <img src="assets/img/banco.png" alt="Secretaria do Meio Ambiente e Infraestrutura" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6 my-auto">
                <img src="assets/img/logos/Novo logo Secretaria do Meio Ambiente e Infraestrutura.png"
                    alt="Secretaria do Meio Ambiente e Infraestrutura" class="img-fluid">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6 my-auto">
                <img src="assets/img/logos/Aquaplan.png" alt="Aquaplan" class="img-fluid" style="width: 90%;">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 my-auto">
                <img src="assets/img/logos/Gitec.png" alt="Gitec" class="img-fluid" style="width: 60%;">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 my-auto">
                <img src="assets/img/logos/Codex.png" alt="Codex" class="img-fluid" style="width: 90%;">
            </div>
        </div>
        </div>
    </section>
    <!-- FOOTER -->
    <footer>
        <div class="esri-footer-barrier"></div>
        <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
            <div class="row text-left">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <details open>
                        <summary>Institucional</summary>
                        <hr>
                        <ul>
                            <li><a href="#">O que é</a></li>
                            <li><a href="#">Base legal</a></li>
                            <li><a href="#">Resultados</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </details>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <details open>
                        <summary>Informações</summary>
                        <hr>
                        <ul>
                            <li><a href="#">Oficinas Participativas</a></li>
                            <li><a href="#">Notícias</a></li>
                            <li><a href="#">Blog do ZEE-RS</a></li>
                        </ul>
                    </details>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <details open>
                        <summary>Banco de Mídia</summary>
                        <hr>
                        <ul>
                            <li><a href="https://zee.rs.gov.br/zeedigital/bdm" target="_blank" rel="noopener">Acesso</a>
                            </li>
                        </ul>
                    </details>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <details open>
                        <summary>Plataforma</summary>
                        <hr>
                        <ul>
                            <li><a href="#">[Link]</a></li>
                            <li><a href="#">[Link]</a></li>
                            <li><a href="#">[Link]</a></li>
                            <li><a href="#">[Link]</a></li>
                        </ul>
                    </details>
                </div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/bootstrap.js"></script>
    <script src="assets/js/vendor/jquery.easy-paginate.js"></script>
    <script src="assets/js/vendor/vue.js"></script>
    <script src="assets/js/src/app.js"></script>
    <script src="assets/js/vendor/slidecounter.js"></script>
</body>

</html>